.add-doctor-form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .doctor-login-form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .dep-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .add-btn-container {
    margin: 30px 30px;
  }
  
  .doctor-profile {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .doctor-profile img {
    max-width: 150px;
    border-radius: 50%;
    margin-top: 10px;
  }
  