.department-container{
    margin-top: 50px;
    
}

.department-btn-container{
    display: flex;

}

.table-image{

    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
