.add-department-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
    width: 50%;
    margin-left: 24%;
    border: 2px solid rgb(219, 215, 215);
    box-shadow: 3px 3px 10px  #b3afaf;
  }
  
  .doctor-login-form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    ;
  }
  
  .dep-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .edit-hospital-btn-container {
    margin: 30px 43%;
  }
  
  .doctor-profile {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .doctor-profile img {
    max-width: 150px;
    border-radius: 50%;
    margin-top: 10px;
  }
  