.add-hospital-form{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;

}

.dep-input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.add-hsp-btn-container Button{
  
   margin-left: 43%;
   width: 60px;
   background-color: rgb(100, 100, 246);
   color: white;
   
}